:root {
  --color-1: #28b5b5;
  --color-2: #fefbf3;
  --color-3: #4b778d;
  --color-4: #dbf6e9;
}

body {
  margin: 0 5px;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h4,
p,
footer {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 96px;
  color: var(--color-2);
}

h2 {
  color: var(--color-3);
  font-size: 56px;
  padding: 15px;
}

h3 {
  font-size: 36px;
  color: var(--color-3);
}

h4 {
  font-size: 24px;
  color: var(--color-2);
}

p {
  font-size: 16px;
  line-height: 30px;
  padding: 30px;
}

footer {
  font-size: 14px;
  text-align: center;
  color: var(--color-3);
  background-color: var(--color-2);
  padding: 15px;
  border-radius: 4px;
}

.navbar-color {
  background-color: var(--color-4);
  border-radius: 4px;
}

.home-intro {
  background-color: var(--color-1);
  text-align: center;
  padding: 90px 0;
  border-radius: 4px;
}

.h-link {
  font-size: 14px;
  padding: 10px 40px;
  color: var(--color-2);
  background-color: var(--color-1);
  text-decoration: none;
  border-radius: 4px;
}

.h-link:hover {
  background-color: var(--color-3);
  color: var(--color-2);
}

.img-border {
  border: 2px solid var(--color-4);
  border-radius: 4px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 58px;
  }

  h2 {
    font-size: 28px;
    text-align: center;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    line-height: 25px;
    padding: 0 15px;
    text-align: center;
  }

  footer {
    font-size: 12px;
  }

  .home-intro {
    padding: 45px 15px;
  }
}
